/* CONTAINER */
.user-container{
    margin: 20px;
    animation: fadeInUp 0.8s ease-out;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.user-container h1{
    margin: 0;
    color: #333;
}

/* FILTER */
.accounts-filter{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 20px 0 30px 0;
    gap: 15px;
    justify-content: flex-start;
}

.accounts-filter input,
.accounts-filter select {
    width: 250px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    outline: none;
    transition: 0.2s all;
}

.accounts-filter input:focus,
.accounts-filter select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0,123,255,0.3);
}

.accounts-filter button{
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s all;
}

.accounts-filter button:hover {
    background-color: #0056b3;
}

.accounts-filter button.new-account-button {
    background-color: #28a745;
    color: #fff;
}

.accounts-filter button.new-account-button:hover {
    background-color: #218838;
}

/* USER TABLE */
.user-container table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 40px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.user-container  table th, td{
    padding: 12px;    
    border: 1px solid #e0e0e0;
    text-align: left;
}

.user-container th{
    background-color: #263238;
    color: #fff;
}

.actions-buttons button{
    border: none;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
}

/* ACCOUNT CREATION */
.add-user-container {
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-user-container h1 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.add-account-form{
    background-color: white;
    padding: 30px 50px 30px 50px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0,0,0,0.05);
}

.form-row {
    display: flex;
    gap: 20px;
    width: 100%;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
    transition: 0.2s all;
}

.form-group input:focus,
.form-group select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0,123,255,0.3);
}

.form-submit-button{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.form-submit-button button {
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: #4db866;
    color: #fff;
    transition: 0.2s all;
    gap: 12px;
}

.form-submit-button button:hover {
    background-color: #218838;
}

.pass-p{
    font-size: 16px;
    color: gray;
}

.account-non-edit-fields{
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 5px;
}

/* For system admin */
.disabled-action {
    pointer-events: none;
    opacity: 0.4;
    cursor: not-allowed;
    filter: grayscale(100%);
}

.bg-purple {
    background-color: #6f42c1;
}

.border-purple {
    border-color: #6f42c1;
}
